**/target/
/target_ci/

# Ignore lock files, except where we don't.
#   - libraries: ignore, by the Cargo.lock general recommendation
#   - examples: ignore, they are just samples
#   - tests: keep. This provides a common ground of dependencies for CI, for example, without providing too much hassle
#       for co-developers.
Cargo.lock
!/examples/tests/Cargo.lock
!/host/Cargo.lock
    # because of 'host/tests'
    # "As far as I know, the Cargo.lock is ignored for dependencies."

/tests/
.idea